<div class="container" id="home">
    <div class="row">
        <div class="col m12 center-align">
            <h2>Polyframe</h2>
            <h4>Quick and easy low-polygon art</h4>
        </div>
    </div>
    <div class="row center-align">
        <div class="col m6">
            <!-- original image -->
            <img class="responsive-img" src="public/images/leaves-original.jpg">
        </div>
        <div class="col m6">
            <!-- after low-poly -->
            <img class="responsive-img" src="public/images/leaves-poly.png">
        </div>
    </div>
    <!-- go to editor page -->
    <div class="row center-align">
        <div ui-sref="editor" class="btn-large editor-nav-btn">
            Create Now
        </div>
    </div>
</div>

