.EditorImageViewer {
  max-height: 60vh;

  #imagePreview {
    img {
      max-width: 100%; 
      max-height: 60vh;
    }
    
    canvas {
      max-height: 60vh;
      width: 100%;
    }
  }

  #zeroState {
    height: 60vh;

    .header {
      &:before {
        display: none
      }
    }
  }
}